* {
  --color-red: #A30000;
  --color-orange: #F28C28;
  --color-white: #FAF9F6;
  font-family: var(--font-poppins), sans-serif;
}

body {
  margin: 0;
  background-color: #0f172a;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: var(--font-poppins), sans-serif;
}

/* Example usage */
.text-red {
  color: var(--color-red);
}

.bg-red {
  background-color: var(--color-red);
}
